html {
  height: 100%;
  max-width: 100%;
}

header {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

main {
  width: 90%;
  height: fit-content;
  border: 1px solid black;
  margin: 20px auto 0;
}

form {
  display: grid;
  grid-template-columns: 50px 150px;
  gap: 20px;
  width: fit-content;
  margin: 20px auto;
}

form button{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.watch-details{
  width: fit-content;
  margin: 20px auto;
  font-size: 25px;
}
