html {
  height: 100%;
  max-width: 100%;
}

header {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: 30px;
}

main p:last-child {
  color: blue;
  font-weight: bold;
}

main p:last-child > span {
  text-decoration: underline;
}

ol {
  padding: 0;
}
